@model PresentationCardModel
    <div class="card col-md-5 col-sm-6 cardFixed">
        @{
            var src = "~/images/pdfIcon.png";
            if (Model.ThumbnailURL != null)
            {
                src = Model.ThumbnailURL;
            }
            <img src="@src" alt="PDF icon" class="card-img-top">
        }
        
        <div class="card-block">
            <h5 class="card-title">@Model.Presentation.Name</h5>
            <span>
            @if (Model.Category != null)
            {
                <h6 style="display:inline"><a 
               asp-controller="@nameof(HomeController).WithoutControllerPart()"
               asp-action="@nameof(HomeController.MyPresentationsByCategory)"
               asp-route-categoryName="@Model.Category.Name">@Model.Category.Name</a></h6>
            }
                @if (Model.Presentation.IsPublic)
                {
                    <i class="fa fa-eye"></i>
                }
                else
                {
                    <i class="fa fa-eye-slash"></i>
                }
            </span>

            <p class="card-text">@Model.Presentation.Description </p>
        </div>

       

        <ul class="list-group list-group-flush">

            @if (Model.UserInfos != null && Model.UserInfos.Count > 0)
            {
                <li class="list-group-item">
                    <p>Owned by the following users:</p>
                    <div class="usersListDiv">
                        @foreach (var item in Model.UserInfos)
                        {
                            <a href="@item.Href">@item.Name</a>
                        }
                    </div>
                </li>
            }
            else
            {
                <li class="list-group-item">
                    <p>You are the sole owner of this presentation</p>
                    <div class="usersListDiv">
                        <a href="/Home/MyPresentations">Click to view the rest of your presentations</a>
                    </div>
                </li>
            }


            <li class="list-group-item">
                @Component.InvokeAsync(nameof(TagsView), new { model = new TagsViewModel { TagsList = Model.Tags } }).Result
            </li>

            <li class="list-group-item">               
                <a asp-controller="@nameof(ControlController).WithoutControllerPart()"
                   asp-action="@nameof(ControlController.ViewPresentation)"
                   asp-route-name="@Model.Presentation.Name"
                   class="btn btn-primary" role="button">View</a>

                <a asp-controller="@nameof(AirShow.Controllers.PresentationsController).WithoutControllerPart()"
                   asp-action="@nameof(AirShow.Controllers.PresentationsController.DownloadPresentation)"
                   asp-route-name="@Model.Presentation.Name"
                   class="btn btn-primary" role="button">Download</a>

                <button data-name="@Model.Presentation.Name" class="deletePresentationButton btn btn-primary">Delete</button>

            </li>
        </ul>
    </div>

