<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>@ViewData["Title"] - AirShow</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/lib/tether/dist/css/tether.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-4.0.0-alpha.5/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-4.0.0-alpha.5/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/common.css" rel="stylesheet" />
    <link href="~/css/SearchNavbarView.css" rel="stylesheet" />


    @RenderSection("style", false)
</head>
<body>
    <div class="">
        @Component.InvokeAsync(nameof(SearchNavbarView)).Result
    </div>
    <div class="mainBodyDiv row">
        <div class="navbarDiv col-md-3">
              @Component.InvokeAsync(nameof(LeftNavbar), 
             new { indexPair = ViewData[ViewConstants.kNavbarIndexPairKey]}).Result
        </div>
        <div class="col-md-9">
            @RenderBody()
            <hr />
        </div>

    </div>
    
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/tether/dist/js/tether.js"></script>
    <script src="~/lib/bootstrap-4.0.0-alpha.5/dist/js/bootstrap.js"></script>

    <script src="~/js/SearchBarView.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
